@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #imgArea {
    background-image: url("../assest/Rectangle.png");
    background-position: center center;
    background-size: contain;
  }
  #cus p {
    margin-right: 20px;
    font-size: 2rem;
    font-weight: 900;
  }
  #cus p > span {
    font-size: 12px;
    display: block;
    font-weight: 200;
    transform: translateY(-10px);
  }
}
